@page
@model TrasladoSeguro.Pages.Clientes.IndexModel
@{
    ViewData["Title"] = "Index Clientes";
}
<h1>Clientes</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Registrar Nuevo cliente</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Conductor</th>
            <th>Cliente</th>
            <th>Servicio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model.Clientes)
        {
            <tr>
                <td>@(cliente.Fecha != null ? cliente.Fecha.Value.ToShortDateString() : "")</td>
                <td>@cliente.Conductor?.Nombre</td>
                <td>@cliente.FirstName</td>
                <td>@cliente.Servicio.Name</td>
            </tr>
        }
    </tbody>
</table>
              