@page
@model TrasladoSeguro.Pages.Account.RegisterModel
@{
}
<h1>Registrarse</h1>

<form method="post">
    <div>
        <label for="username">Nombre de usuario</label>
        <input type="text" id="username" name="Username">
    </div>
    <div>
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="Password">
    </div>
    <div>
        <label for="confirmPassword">Confirmar contraseña</label>
        <input type="password" id="confirmPassword" name="ConfirmPassword">
    </div>
    <button type="submit">Registrarse</button>
</form>