@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1>
        Santiago Osorio Cordoba 
    </h1>
    <h2>
        S5AN
    </h2>
    <h1>
        Miguel Varela
    </h1>

</div>
